In [2]:
import pandas as pd


path_to_file = "withDummies.csv"
data = pd.read_csv(path_to_file)
print(data.shape)
data.head()

(1460, 219)

,Unnamed: 0,20,30,40,45,50,70,75,80,85,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,MoSold,YrSold,SalePrice
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2008,208500
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,2007,181500
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9,2008,223500
3,3,0,0,0,0,0,1,0,0,0,...,272,0,0,0,0,0,0,2,2006,140000
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,2008,250000

In [108]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt